

# --- Editors/IDE ---
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/


# macOS
.DS_Store


# --- Node & package managers ---
node_modules/
.pnpm-store/
.pnp.*
.npm/
.yarn/*
!.yarn/releases/
!.yarn/plugins/
!.yarn/sdks/
!.yarn/versions/


.env
